body{
	padding: 0;
	margin: 0;
	background-color: #777;
	background-image: url('');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
header *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header{
	height: 150px;
	width: 100%;
	position: relative;
	background-color: white;
	box-shadow: 0px 2px 5px rgba(0,0,0,.4);
}
.timlogo{
	width: 150px;
	display: block;
	margin: 0 auto;
	padding-top: 15px;
}
.head{
	position: absolute;
	top: 35px;
	right: 50px;
}
.head .tile{
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-left: 5px;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}
.head .tile.socialmedia{
	color: #0b253e;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	position: relative;
	top: -6px;
}
header.clicked .head .tile.socialmedia{
	color: white;
}

.container {
    display: flex;

}
#bigpic {
    height: 450px;
   width: 7000px;
   margin: 0 auto;
   padding-top: 15px;
}
